{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{%
  set classes = [
    'region',
    'region-' ~ region|clean_class,
  ]
%}
{% if content %}
    {% if logged_in %}
        <div{{ attributes.addClass(classes) }}>
          <div class="external-systems-title">
              {{ 'Перейти до систем' | t }}
          </div>
    {% endif %}
          <div class="row">
              {{ content }}
          </div>
          <div class="line-container">
              <div class="line-bottom-red"></div>
              <div class="line-bottom"></div>
          </div>
        </div>
{% endif %}

