{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}
<div class="exposed-form-page-news _employees">
    <form{{ attributes }}>
        <div class="_inline-form-page-news">
            {{ children }}
        </div>
        <input data-drupal-selector="edit-reset-1" type="submit" id="edit-reset-1" name="op" value="{{ 'Скинути фiльтри'|t }}" class="button js-form-submit form-submit btn btn-primary">
    </form>
</div>
