h1 {
  font-weight: 700 !important;
  font-size: 32px;
}

a {
  text-decoration: none;
}

.block-page-title-block {
    position: relative;

    h1 {
      display: inline-flex;

      &:after {
        content: '';
        position: relative;
        width: 11px;
        height: 11px;
        background-color: #DA393B;
        border-radius: 50%;
        top: 15px;
        //display: inline-flex;
        margin-left: 10px;
      }
    }

}

.text-right {
  text-align: right;

  .menu--account {
    float: right;
    margin-top: 25px;

    .nav-link {
        &:before {
          content: "\e905";
          color: white;
          background-color: var(--o-red);
          border-radius: 50%;
          margin-right: 0.5em;
          line-height: 25px;
          padding: 11px 15px;
          display: inline-block;
          font-family: "icomoon", sans-serif;
          vertical-align: middle;
          font-size: 16px;
          font-weight: 400;
        }
        &:after {
          content: "\e90a";
          color: var(--o-red);
          margin-left: 1em;
          margin-top: -2px;
          display: inline-block;
          font-family: "icomoon", sans-serif;
          vertical-align: middle;
          font-size: 1.75em;
          font-weight: 400;
          border: 0;
        }
    }
  }

  .menu--user-menu {
    float: right;
    margin-top: 25px;

    .nav-link {
      &.dropdown-toggle {
        &:before {
          content: "\e905";
          color: white;
          background-color: var(--o-red);
          border-radius: 50%;
          margin-right: 0.5em;
          line-height: 25px;
          padding: 11px 15px;
          display: inline-block;
          font-family: "icomoon", sans-serif;
          vertical-align: middle;
          font-size: 16px;
          font-weight: 400;
        }
        &:after {
          content: "\e90a";
          color: var(--o-red);
          margin-left: 1em;
          margin-top: -2px;
          display: inline-block;
          font-family: "icomoon", sans-serif;
          vertical-align: middle;
          font-size: 1.75em;
          font-weight: 400;
          border: 0;
        }
      }
    }
  }
}

.site-logo {
  &.d-block {
    margin: 0 auto;

    img {
      margin: 0;
    }
  }
}

.menu--vertical-navigation-ohmatdit {
  .menu {
   &.menu-level-0 {
     margin: 0;

     .menu-item--collapsed {
         list-style: none;
     }

     .menu-item {
       width: 50%;
       margin: 20px auto;

       a {
         background: none;

         &::before {
           //content: "" !important;
         }
       }

       .field--name-field-svg-icon img {
         display: inline-block;
         position: absolute;
         left: 77px;
         top: -64px;
       }
     }
   }
  }
}

.main-content-menu {
  li {
    display: inline-flex;
    width: auto !important;

    &:last-child {
      a:after {
        content: none;
      }
    }

    a {
      font-weight: 600;
      font-size: 16px;
      color: $greyblue;
      text-decoration: none;
      
      &.is-active {
        color: $brandred;
      }

      &:after {
        margin: 0 15px 3px;
        display: inline-block;
        content: "";
        border: 1px solid #c2c6cc;
        background-color: #c2c6cc;
        border-radius: 50%;
        width: 6px;
        height: 6px;
      }
    }
  }
}

.menu--vertical-navigation-platforma {
  .menu {
    &.menu-level-0 {
      margin: 0;

      .menu-item--collapsed {
        list-style: none;
      }

      .menu-item {
        width: 50%;
        margin: 20px auto;

        a {
          background: none;

          &::before {
            //content: "" !important;
          }
        }

        .field--name-field-svg-icon img {
          display: inline-block;
          position: absolute;
          left: 77px;
          top: -64px;
        }
      }
    }
  }
}

.region-sidebar-first {
  padding: 0;
}

.branding {
  a {
    text-decoration: none;
  }

  .field--name-body {
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 25px;


    p {
      margin-bottom: 0;
      font-weight: 900;
      letter-spacing: 0.5px;

      &:first-of-type {
        color: $brandblue;
      }

      &:nth-of-type(2) {
        color: $brandred;
      }
    }
  }
}

.navbar-brand {
  margin-top: 20px;
}

.node--type-news {
  .field--name-field-media-image {
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
  }
}

.view-media {
  margin-bottom: 10px;

  a {
    font-weight: bolder;

    &::after {
      background-image: url(../images/vector.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      content: "";
      font-size: 20px;
      padding-left: 11px;
      margin-left: 5px;
    }
  }
}

.field--name-field-tags {
  margin: 70px 0;
  a {
    text-decoration: none;
    background-color: var(--o-gray);
    border-radius: 80px;
    color: $brandblue;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 900;
    transition: background-color 0.5s;

    &:hover {
      color: white;
      background-color: $brandred;
    }
  }

  .field__item {
    display: inline-flex;
  }
}

.external-systems-title {
  color: $brandblue;
  text-transform: uppercase;
  font-size: 13.5px;
  font-weight: 700;
  margin-bottom: 20px;

}

.external-systems {
  width: 23%;
  margin: 0 10px;
  border-radius: 10px;
  position: relative;

  a {
    text-decoration: none;

    &::before {
      background-image: url(../images/arrow.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      content: "";
      font-size: 20px;
      padding-left: 11px;
      margin-left: 5px;
      position: absolute;
      top: 4px;
      left: 203px;
      width: 9%;
      height: 10%;
      z-index: 1;
    }
  }

  .link-title {
    text-align: center;
    text-decoration: none;
    color: white;
    margin-bottom: 20px;
  }

  &.document-flow {
    background-color: $brandblue;

    .field--name-field-svg-image {
      background-color: $brandlightblue;
    }
  }

  &.med-system {
    background-color: $brandred;

    .field--name-field-svg-image {
      background-color: $branddeeppink;
      margin-bottom: 20px;
    }

    .link-title {
      line-height: 18px;
    }
  }

  &.a-five {
    background-color: $brandlightblue;

    .field--name-field-svg-image {
      background-color: $brandblue;
      margin-bottom: 20px;
    }

    .link-title {
      line-height: 18px;
    }

    .field--name-body {
      font-size: 36px;
    }
  }

  &.external-account {
    background-color: $branddeeppink;

    .field--name-field-svg-image {
      background-color: $brandred;
    }
  }

  .field--name-field-svg-image {
    text-align: center;
    margin: 40px auto;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;

    img {
      display: inline-block;
      padding: 13px 10px;
      width: 64px;
      height: 64px;
      margin-top: 9px;
    }
  }

  .field--name-body {
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-size: 21px;
    font-weight: 900;
    min-height: 65px;
  }

  .field--name-field-link-to-content {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
  }
}

.region-content {
  position: relative;
}

.line-container {
  display: flex;
  justify-content: space-between;

  .line-bottom {
    width: 77%;
    border-bottom: 3px solid #EAF0F8;
  }

  .line-bottom-red {
    margin-top: 80px;
    width: 23%;
    border: 2px solid $brandred;
  }
}

.path-enter-portal {
  .block-page-title-block {
    display: none;
  }

  .block-local-tasks-block {
    display: none;
  }
}

.align-items-center {
  &.password-enter {
    margin: 0 auto;
    
    input {
      display: block;
      margin: 0 auto;
      width: 187px;
      height: 54px;
      border-radius: 30px;
      background: $brandblue;
    }
  }
}

.forgot-password-link {
  font-size: 12px;
  color: $brandblue;
  display: block;
  margin: 35px auto;
  width: 30%;
  text-align: center;
}

.user-login-form {
  width: 30%;
  margin: 0 auto;

  @media (max-width: 767px) {
    width: 100%;
    /* Другие стили для мобильных устройств */
    &> p {
      font-size: 16px;
    }

    .form-type-textfield {
      font-size: 13px;
    }

    .form-type-password {
      font-size: 13px;
    }

    .forgot-password-link {
      width: 100%;
      font-size: 13px;
    }
  }

  .form-type-textfield {
    margin: 0 auto;
    border: solid 1px $brandblue;
    border-radius: 8px;
    margin-bottom: 20px;
    min-height: 50px;

    label {
      width: 25%;
      float: left;
      padding: 12px 10px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      border-color: $brandblue;
      border-right: solid 1px $brandblue;
    }

    input {
      display: block;
      width: 75%;
      border: none;
      padding: 12px;
    }
  }

  .form-type-password {
    margin: 0 auto;
    border: solid 1px $brandblue;
    border-radius: 8px;
    min-height: 50px;

    label {
      width: 25%;
      float: left;
      padding: 12px 10px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      border-color: $brandblue;
      border-right: solid 1px $brandblue;
    }

    input {
      display: block;
      width: 75%;
      border: none;
      padding: 12px;
    }
  }
}

.user-pass {
  width: 30%;
  margin: 0 auto;

  &> p {
    color: $brandblue;
    font-style: italic;
    font-size: 14px;
  }

  input {
    margin: 0 auto;
    border: solid 1px #3953A4;
    border-radius: 8px;
    margin-bottom: 20px;
    min-height: 50px;
  }

  @media (max-width: 767px) {
    width: 100%;

    &> p {
      font-size: 16px;
    }
  }
}

/*
* Page 403-404
 */
.page-node-type-not-found {
  .node--type-not-found {
    margin-bottom: 150px;
  }

  h1 {
    display: block;
    &:after {
      content: none;
    }
  }

  .field--name-title {
    font-style: normal;
    font-weight: 700;
    font-size: 120px;
    line-height: 146px;
    text-align: center;
    color: $brandblue;
    margin: 0 auto;
    margin-top: 40px;
    display: block;
  }

  .field--name-field-lead-text {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: $brandblue;
    margin: 25px;
  }

  .field--name-field-cta-text {
    a {
      color: $brandblue;
      text-decoration: none;
    }
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-align: center;

  }
}

/*
* Page Video
 */
.page-node-type-video {
  .field--name-body {
    margin: 60px 0;
  }

  .field-online {
    font-weight: 900;
  }
}

/*
* Page News
 */
.exposed-form-page-news {
  margin-bottom: 50px;

  .views-exposed-form {
    border: none;
    padding-left: 0;

    label {
      display: none;
    }

    legend  {
      display: none;
    }

    .form-item-date-created-min {
      display: inline-flex;
      max-width: 49%;
      margin: auto;
      border-right: 1px solid rgba(57, 83, 164, 0.5);

      input {
        border: none;
      }

      &:after {
        content: "\e908";
        width: auto;
        height: 100%;
        display: block;
        font-family: 'icomoon', sans-serif !important;
        font-size: 23px;
        color: #3953A4;
        background-color: #fff;
        border: none;
        -webkit-transition: background-color 0.4s;
        transition: background-color 0.4s;
        position: relative;
        left: 10px;
      }
    }

    .form-item-date-created-max {
      display: inline-flex;
      max-width: 49%;
      margin: auto;

      input {
        border: none;
        margin-left: 10px;
      }
    }

    .form-item-search-combine {
      display: inline-flex;
      border-right: 1px solid rgba(57, 83, 164, 0.5);

      input {
        border: none;
      }
    }

    .form-actions {
      margin: 0;
      display: inline-flex;

      #edit-submit-employees {
        background: url(../images/lupa.svg) no-repeat center center;
        font-size: 0;
        display: block;
        width: 50%;
        min-width: 75px;
        height: 68px;
        background-color: $brandblue;
        border: 1px solid $brandblue;
        border-radius: 0 6px 6px 0;
      }

      #edit-submit-news {
        background: url(../images/lupa.svg) no-repeat center center;
        font-size: 0;
        display: block;
        width: 50%;
        min-width: 75px;
        height: 68px;
        background-color: $brandblue;
        border: 1px solid $brandblue;
        border-radius: 0 6px 6px 0;
      }



      #edit-reset {
        background: url(../images/delete.svg) no-repeat center center;
        font-size: 0;
        display: block;
        background-size: 30px;
        width: 50%;
        min-width: 50px;
        height: 68px;
        background-color: #95A6DA;
        border: 1px solid #95A6DA;
        border-radius: 0 6px 6px 0;
      }
    }

    .form--inline.clearfix {
      padding-left: 0;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 8px 0;
      position: relative;
      border: 1px solid rgba(57, 83, 164, 0.5);
      border-radius: 6px;
    }
  }
}

.date-list-group {
  h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    text-transform: capitalize;
    color: $brandblue;
  }

  ul {
    list-style-type: none;
  }
}

.vertical-line-before {
  display: inline-flex;

  &:before {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    background-color: #da393b;
    border: 3px solid rgba(218, 57, 59, 0.3);
    border-radius: 50%;
    margin: 0 auto;
    background-clip: padding-box;
  }

  &:after {
    content: '';
    display: block;
    width: 1px;
    position: relative;
    left: -9px;
    bottom: 0;
    background-color: rgba(218, 57, 59, 0.3);
    margin-top: 20px;
    z-index: 1;
  }
}

.view-row-totlal {
  display: flex;
  margin-bottom: 30px;
}

.views-field-title {
  a {
    display: block;
    font-size: 18px;
    font-weight: 600;
    color: $dark;
    line-height: 22px;
  }
}

.views-field-body {
  margin: 1em 0;
}

.views-field-field-tags {
  margin: 20px 0;

  .field-content {
    display: inline-flex;

    a {
      text-decoration: none;
      background-color: var(--o-gray);
      border-radius: 80px;
      color: #3953A4;
      padding: 15px 32px;
      text-align: center;
      display: inline-block;
      font-size: 13px;
      text-transform: uppercase;
      font-weight: 900;
      -webkit-transition: background-color 0.5s;
      transition: background-color 0.5s;

      &:hover {
        color: white;
        background-color: #DA393B;
      }
    }
  }
}

#edit-reset-1 {
  background-color: $brandblue;
  margin: 0;
}

.list-announces {
  list-style: none;
  hyphens: auto;
  padding: 0;

  .row-announce {
    padding: 25px;
    color: white;
    border-radius: 10px;

    .views-field-title {
      margin: 20px 0;

      a {
        font-weight: 700;
        font-size: 22px;
        line-height: 27px;
        color: white;
      }
    }

    &:first-child {
      background-color: $brandred;
    }

    &:nth-child(2) {
      background-color: $brandblue;
      margin: 20px 0;
    }

    &:nth-child(3) {
      background-color: var(--o-gray);
      color: initial;

      .views-field-title {
        a {
          color: initial;
        }
      }
    }
  }
}

/*
* Page User Account.
 */
.employee-account {
  .field__label {
    &:after {
      content: "";
    }
  }
  .employee-picture {
    img.image-style-user-picture {
      border-radius: 8px;
    }
  }

  .employee-top {
    padding: 65px 50px;
    background-color: var(--o-gray);
    margin-right: -39px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .employee-center {
    margin: 50px 10px;

    .whatsapp {
      img {
        width: 20px;
        height: auto;
      }
    }

    .employee_child {
      margin-bottom: 15px;

      .field__label {
        min-width: 200px;
        text-transform: uppercase;
        font-size: 13px;
      }
    }

    .employee-phone {
      //display: inline-flex;

      .field--name-field-employee-phone-mobile {
        display: inline-flex;
      }

      .field--name-field-employee-phone {
        display: inline-flex;
      }

      .field--name-field-room {
        display: inline-flex;
      }

      .bi-telephone::before {
        //content: "\f5c1";
        margin-right: 10px;
        font-size: 20px;
      }

      .bi-geo-alt::before {
        margin-right: 10px;
        font-size: 20px;
      }
    }

    .employee-email {
      .bi-envelope-at {
        float: right;
      }

      .field--name-field-email {
        display: inline-flex;
      }

      .bi-envelope::before {
        margin-right: 10px;
        font-size: 20px;
      }
    }
  }

  .employee-educations {
    margin: 50px 10px;

    &._publications {

      ._title {

        &:after {
          left: 200px;
          width: 80%;
        }
      }

      .link-item {
        margin-bottom: 35px;

        a {
          font-weight: 900;
          text-decoration: revert;
        }

        .link-description {
          margin-top: 10px;
          font-size: 13px;
        }

      }
    }

    ._title {
      display: block;
      align-items: center;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        bottom: 32px;
        left: 160px;
        width: 85%;
        height: 2px;
        background-color: $brandblue;
      }

      span {
        display: flex;
        align-items: center;
        margin-left: 25px;
        text-transform: uppercase;
        color: $brandblue;
        font-weight: 900;
        font-size: 13px;
        position: relative;

        .bi-award {
          width: 64px;
          height: 64px;
          display: block;
          padding: 9px 18px;
          margin-right: 10px;
          font-size: 30px;
          font-weight: normal;
          line-height: 1.5em;
          color: $brandblue;
          background-color: $brandgrey;
          border-radius: 50%;
          -webkit-transition: background-color 0.4s;
          transition: background-color 0.4s;
        }

        .bi-book {
          width: 64px;
          height: 64px;
          display: block;
          padding: 9px 18px;
          margin-right: 10px;
          font-size: 30px;
          font-weight: normal;
          line-height: 1.5em;
          color: $brandblue;
          background-color: $brandgrey;
          border-radius: 50%;
          -webkit-transition: background-color 0.4s;
          transition: background-color 0.4s;
        }
      }
    }

    ._content {
      padding: 40px 0 0 100px;
    }

    .employee_child {
    margin-bottom: 15px;

    .field__label {
      min-width: 35%;
      text-transform: uppercase;
      font-size: 15px;
      }

      .field__items {
        max-width: 65%;
      }
    }
  }

  .node--view-mode-user-account {
    h2 {
      display: none;
    }
  }

  .employee-personal {
    margin: 20px 45px;

    h1 {
      display: inline-flex;

      span {
        margin-right: 10px;

        .field__item {
          display: inline-block;

        }
        &:last-child {
          margin-right: 0;
        }
      }
      &:after {
        content: '';
        position: relative;
        width: 11px;
        height: 11px;
        background-color: #DA393B;
        border-radius: 50%;
        top: 15px;
        margin-left: 10px;
      }
    }
    .field--name-field-position-name {
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 140%;
      margin: 20px 0;
    }
  }

}

/*
* Page Personal.
 */
.view-employees {
  .view-header {
    display: none;
  }

  .views-infinite-scroll-content-wrapper {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
  }

  .view-content {
    margin: 0;
    margin-top: -30px;
  }

  .exposed-form-page-news {
    .form-actions {
      margin: 0;
    }

    &._employees {
      margin-bottom: 0;
      max-height: 336px;

      .views-exposed-form {
        label {
          display: inline-block;
          color: #525760;
        }
        .form--inline {
          #edit-field-employee-last-name-value-all {
            display: none;
          }

          border: none;
          display: grid;
          grid-template-columns: 1fr 1.8fr 0.2fr;
          grid-template-rows: 80px 80px 80px 80px 30px;
          gap: 0 0;
          grid-template-areas:
    //"first first first"
    "second second third"
    "fourth fourth fourth"
    "fifth fifth fifth"
    "sixth sixth sixth";

          #edit-field-parent-department-target-id--wrapper {
            grid-area: fifth;

            .form--inline {
              display: inline-block;

              .form-item-field-parent-department-target-id {
                min-width: 50px;
                margin-right: 24px;

                input[checked="checked"] + label {
                  color: $brandblue;
                  font-weight: 900;
                }
              }
            }
          }


          .form-item-search-combine {
            grid-area: second;
            border: 1px solid rgba(57, 83, 164, 0.5);
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
            padding: 15px;
            margin-right: 0;
          }

          .form-actions {
            grid-area: third;
          }

          .form-item-choose-selector {
            grid-area: fourth;
            max-width: 25%;
            display: inline-flex;
            align-items: center;

            &:before {
              content: url("../images/choose-icon.svg");
              width: 20px;
              height: 20px;
              display: inline-block;
              vertical-align: middle;
              margin-right: 5px;
            }

            .form-select {
              text-transform: uppercase;
              color: $brandblue;
              font-weight: 900;
              border: none;
              padding: 3px 20px 0;
              background-size: 31px 16px;
              letter-spacing: 1px;

              option {
                font-weight: 900;
              }
            }
          }

          .form-item-field-employee-last-name-value {
            grid-area: sixth;

            .form-select {
              border: none;
              background: none;
              padding-left: 0;

              ul {
                padding-left: 0;

                li {
                  display: inline;
                  font-weight: 900;
                  padding-left: 0;

                  .bef-link {
                    padding: 0 7px;
                    color: #525760;

                    &:hover {
                      color: $brandblue;
                    }

                    &.bef-link--selected {
                      color: $brandblue;
                      background-color: $brandgrey;
                      padding: 10px 14px;
                      font-weight: 900;
                    }
                  }

                  &::marker {
                    content: none;
                  }
                }
              }
            }
          }

          .form-item-field-department-name {
            grid-area: sixth;
          }
        }
      }

      .form-item-search-combine {
        border: none;
      }
    }
  }

}

.employee_item {
  margin-bottom: 40px;

  .field--name-field-position-name {
    margin-bottom: 10px;
    min-height: 50px;
    color: #525760;

    &:first-letter {
      text-transform: uppercase;
    }
  }

  .personal-data {
    text-decoration: underline;
    font-size: 21px;
    font-weight: 900;
    margin: 15px 0 10px;

    a {
      color: $brandblue !important;
      text-decoration: underline;
    }
  }

  .field--name-field-employee-phone-mobile {
    .field__label {
      display: inline-flex;
      text-transform: lowercase;
      min-width: 100px;
      color: $brandblue;
    }
    .field__item {
      display: inline-flex;
    }
  }

  .field--name-field-room {
    .field__label {
      display: inline-flex;
      text-transform: lowercase;
      min-width: 100px;
      color: $brandblue;
    }
    .field__item {
      display: inline-flex;
    }
  }
}

.chosen-container.chosen-container-single {
  min-width: 100%;
  margin-top: -156px;

  .chosen-single {
    background: none;
    padding: 7px 9px 10px 20px;
    height: 40px;

    span {
      font-family: 'Montserrat', sans-serif;
      font-size: 12px;
      color: #525760;
      font-weight: 700;
    }
    div {
      top: 20%;
    }
  }

  .chosen-results {
    font-size: larger;
  }

  .chosen-search input[type="text"] {
    min-height: 35px;
    background: url("../images/chosen-sprite.png") no-repeat 100% -26px;
    background-size: 69px;
  }
}

.employees-quantity {
  width: auto;
  margin-left: auto;

  ._quantity {
    color: $brandred;
    font-weight: 900;
  }
}

.employee-content-label {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 40px;

  ._alphabet {
    width: 64px;
    height: 64px;
    padding: 20px 24px;
    margin-right: 10px;
    font-size: inherit;
    font-weight: 900;
    line-height: 1.5em;
    color: $brandred;
    background-color: var(--o-gray);
    border-radius: 50%;
    -webkit-transition: background-color 0.4s;
    transition: background-color 0.4s;
    display: flex;
    align-items: center;
    justify-content: center;

    ._child-alphabet {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  ._second {
    font-size: inherit;
    font-weight: 900;
    line-height: 1.5em;
    color: $brandred;
    margin-right: 10px;
  }

  ._line {
    height: 2px;
    background-color: $brandred;
    width: inherit;
  }
}

.view-empty {
  margin: 50px auto;
  font-weight: 900;
  color: $brandred;

  &.employee-content-label {
    justify-content: center;
    ._result {
      margin: 0 10px;
    }

    ._line {
      width: 30px;
    }
  }
}