h1 {
  font-weight: 700 !important;
  font-size: 32px;
}

.block-page-title-block {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      width: 11px;
      height: 11px;
      background-color: $brandred;
      border-radius: 50%;
      top: 50%;
      left: 100%;
    }
}

.text-right {
  text-align: right;

  .menu--account {
    float: right;
    margin-top: 25px;

    .nav-link {
        &:before {
          content: "\e905";
          color: white;
          background-color: var(--o-red);
          border-radius: 50%;
          margin-right: 0.5em;
          line-height: 25px;
          padding: 11px 15px;
          display: inline-block;
          font-family: "icomoon", sans-serif;
          vertical-align: middle;
          font-size: 16px;
          font-weight: 400;
        }
        &:after {
          content: "\e90a";
          color: var(--o-red);
          margin-left: 1em;
          margin-top: -2px;
          display: inline-block;
          font-family: "icomoon", sans-serif;
          vertical-align: middle;
          font-size: 1.75em;
          font-weight: 400;
          border: 0;
        }
    }
  }

  .menu--user-menu {
    float: right;
    margin-top: 25px;

    .nav-link {
      &.dropdown-toggle {
        &:before {
          content: "\e905";
          color: white;
          background-color: var(--o-red);
          border-radius: 50%;
          margin-right: 0.5em;
          line-height: 25px;
          padding: 11px 15px;
          display: inline-block;
          font-family: "icomoon", sans-serif;
          vertical-align: middle;
          font-size: 16px;
          font-weight: 400;
        }
        &:after {
          content: "\e90a";
          color: var(--o-red);
          margin-left: 1em;
          margin-top: -2px;
          display: inline-block;
          font-family: "icomoon", sans-serif;
          vertical-align: middle;
          font-size: 1.75em;
          font-weight: 400;
          border: 0;
        }
      }
    }
  }
}

.site-logo {
  &.d-block {
    margin: 0 auto;

    img {
      margin: 0;
    }
  }
}

.menu--vertical-navigation-ohmatdit {
  .menu {
   &.menu-level-0 {
     margin: 0;

     .menu-item--collapsed {
         list-style: none;
     }

     .menu-item {
       width: 50%;
       margin: 20px auto;

       a {
         background: none;

         &::before {
           //content: "" !important;
         }
       }

       .field--name-field-svg-icon img {
         display: inline-block;
         position: absolute;
         left: 77px;
         top: -64px;
       }
     }
   }
  }
}

.menu--vertical-navigation-platforma {
  .menu {
    &.menu-level-0 {
      margin: 0;

      .menu-item--collapsed {
        list-style: none;
      }

      .menu-item {
        width: 50%;
        margin: 20px auto;

        a {
          background: none;

          &::before {
            //content: "" !important;
          }
        }

        .field--name-field-svg-icon img {
          display: inline-block;
          position: absolute;
          left: 77px;
          top: -64px;
        }
      }
    }
  }
}

.region-sidebar-first {
  padding: 0;
}

.branding {
  a {
    text-decoration: none;
  }

  .field--name-body {
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 25px;


    p {
      margin-bottom: 0;
      font-weight: 900;
      letter-spacing: 0.5px;

      &:first-of-type {
        color: $brandblue;
      }

      &:nth-of-type(2) {
        color: $brandred;
      }
    }
  }
}

.navbar-brand {
  margin-top: 35px;
}

.node--type-news {
  .field--name-field-media-image {
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
  }
}

.view-media {
  margin-bottom: 10px;

  a {
    font-weight: bolder;

    &::after {
      background-image: url(../images/vector.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      content: "";
      font-size: 20px;
      padding-left: 11px;
      margin-left: 5px;
    }
  }
}

.field.field--name-field-tags {
  margin: 70px 0;
  a {
    text-decoration: none;
    background-color: var(--o-gray);
    border-radius: 80px;
    color: $brandblue;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 900;
    transition: background-color 0.5s;

    &:hover {
      color: white;
      background-color: $brandred;
    }
  }
}

.external-systems-title {
  color: $brandblue;
  text-transform: uppercase;
  font-size: 13.5px;
  font-weight: 700;
  margin-bottom: 20px;

}

.external-systems {
  width: 23%;
  margin: 0 10px;
  border-radius: 10px;
  position: relative;

  a {
    text-decoration: none;

    &::before {
      background-image: url(../images/arrow.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      content: "";
      font-size: 20px;
      padding-left: 11px;
      margin-left: 5px;
      position: absolute;
      top: 4px;
      left: 203px;
      width: 9%;
      height: 10%;
      z-index: 1;
    }
  }

  .link-title {
    text-align: center;
    text-decoration: none;
    color: white;
    margin-bottom: 20px;
  }

  &.document-flow {
    background-color: $brandblue;

    .field--name-field-svg-image {
      background-color: $brandlightblue;
    }
  }

  &.med-system {
    background-color: $brandred;

    .field--name-field-svg-image {
      background-color: $branddeeppink;
      margin-bottom: 20px;
    }

    .link-title {
      line-height: 18px;
    }
  }

  &.a-five {
    background-color: $brandlightblue;

    .field--name-field-svg-image {
      background-color: $brandblue;
      margin-bottom: 20px;
    }

    .link-title {
      line-height: 18px;
    }

    .field--name-body {
      font-size: 36px;
    }
  }

  &.external-account {
    background-color: $branddeeppink;

    .field--name-field-svg-image {
      background-color: $brandred;
    }
  }

  .field--name-field-svg-image {
    text-align: center;
    margin: 40px auto;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;

    img {
      display: inline-block;
      padding: 13px 10px;
      width: 64px;
      height: 64px;
      margin-top: 9px;
    }
  }

  .field--name-body {
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-size: 21px;
    font-weight: 900;
    min-height: 65px;
  }

  .field--name-field-link-to-content {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
  }
}

.region-content {
  position: relative;
}

.region-content-bottom {
  .line-container {
    display: flex;
    justify-content: space-between;

    .line-bottom {
      width: 77%;
      border-bottom: 3px solid #EAF0F8;
    }

    .line-bottom-red {
      margin-top: 80px;
      width: 23%;
      border: 2px solid $brandred;
    }
  }
}

.path-enter-portal {
  .block-page-title-block {
    display: none;
  }

  .block-local-tasks-block {
    display: none;
  }
}

.align-items-center {
  &.password-enter {
    margin: 0 auto;
    
    input {
      display: block;
      margin: 0 auto;
      width: 187px;
      height: 54px;
      border-radius: 30px;
      background: $brandblue;
    }
  }
}

.forgot-password-link {
  font-size: 12px;
  color: $brandblue;
  display: block;
  margin: 35px auto;
  width: 30%;
  text-align: center;
}

.user-login-form {
  .form-type-textfield {
    width: 30%;
    margin: 0 auto;
    border: solid 1px $brandblue;
    border-radius: 8px;
    margin-bottom: 20px;

    label {
      display: block;
      width: 25%;
      float: left;
      padding: 0 10px;
    }

    input {
      display: block;
      width: 75%;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-color: $brandblue;
    }
  }

  .form-type-password {
    width: 30%;
    margin: 0 auto;
    border: solid 1px $brandblue;
    border-radius: 8px;

    label {
      display: block;
      width: 25%;
      float: left;
      clear: both;
      //border-top-left-radius: 0;
      //border-bottom-left-radius: 0;
      border-color: $brandblue;
      border-left: solid 1px;
    }

    input {
      display: block;
      width: 75%;
      //border-top-left-radius: 0;
      //border-bottom-left-radius: 0;
      //border-color: $brandblue;
      border: none;
    }
  }
}
