@media (min-width: 768px) {
    .navbar-toggle {
        display: block;
    }
}


@media (min-width: 791px) and (max-width: 1200px) {
    .view-content {
        .views-row {
            .views-field-title {
                a {
                    font-size: 14px !important;
                }
            }
        }
    }

    .view-id-posters,
    .view-id-media {
        .view-content {
            .views-row {
                width: unquote("calc(50% - 12px)");
            }
        }
    }

    .view-id-massmedia {
        .view-content {
            gap: 0;

            .views-row {
                width: 100%;
            }
        }
    }
    .view-id-home {
        .grid-item.view-content {
            .grid-container-content {
                grid-template-columns: unquote("repeat(2, 1fr)");
            }
        }
    }
}

@media (max-width: 790px) {
    .main-container {
        .main-content {
            padding: 10px 20px;
        }
    }
    .main-nav {
        display: none;
    }

    .view-id-news[class*="view-display-id-page_"] {
        .view-content {
            .views-row {
                display: block;

                .views-field {
                    display: block;
                    padding: 0;
                    border: none;

                    &.views-field-nothing {
                        padding: 0;
                    }
                }

            }
        }
    }

    .view-id-posters,
    .view-id-massmedia,
    .view-id-media {
        .view-content {
            .views-row {
                width: 100%;
            }
        }
    }
}
