$blue: #2d5ca6;
$darkblue: #2D5CA6;
$greyblue: #31486c;
$dark: #273043;
//$darkblue: #234161;
$yellow: #FFE358;
$red: #FF0000;
$maintext: #1D1D1B;
$secondtext: #6D727C;
$grey: #C2C5CB;
$lightgrey: #eef0f3;
$brandred: #DA393B;
$brandblue: #3953A4;
$brandlightblue: #4969CC;
$branddeeppink: #FF808B;

